{% extends 'admin/base.html' %}


{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">Cadastrar espécie</h3>
            </div>
            <form method="POST" enctype="multipart/form-data">
                <div class="card-body">
                    <div class="form-group">
                        <label for="nome">Nome atual </label>
                        <input type="text" class="form-control" name="nome" id="nome" placeholder="Digite aqui">
                    </div>
                    <p></p>
                    <div class="form-group">
                        <label for="descricao">Descrição</label>
                        <input type="text" class="form-control" name="descricao" id="descricao" placeholder="Digite aqui">
                    </div>
                    <p></p>
                    <div class="mb-3">
                        <label for="img" class="form-label">Selecione a imagem</label>
                        <input class="form-control" type="file" name="img" id="img">
                    </div>
                    <p></p>

                    <!--Ativo-->
                    <p></p>
                    <div class="form-group">
                        <label for="ativo">Ativo</label>
                        <select class="form-control" name="ativo" id="ativo">
                            <option value=1>SIM</option>
                            <option value=0>NÃO</option>
                        </select>
                    </div>
                    
                </div> <!-- card-body -->
                <div class="card-footer">
                    <button type="submit" class="btn btn-success">Finalizar</button>
                    <a href="{{url_for("listarEspecies")}}"><button type="button" class="btn btn-primary">Cancelar</button></a>
                </div>
            </form>
        </div> <!-- card card-primary -->
    </div> <!-- row -->
</div> <!-- container-fluid -->


{% endblock %}